# File types
*.txt
*.csv
*.log
*.png
*.pickle
*.pstat

# Python
*/__pycache__/*
__pycache__/*
.ipynb_checkpoints/

# IDE
.idea/*

# Project
model_output/*
data/*
output/*
config.yaml
deploy
download_output
